body {
	background-color: #242424;
	color: rgba(255, 255, 255, 0.87);
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}
.btn {
	background-color: #f50057;
	color: #fff;
	border: none;
	width: 100px;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 35px;
}
.counter {
	font-size: 35px;
	color: #f50057;
	display: flex;
	justify-content: flex-start;
	min-width: 44px;
}
.App {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	padding: 20px;
}
.btn-container {
	display: flex;
	margin-top: 10px;
	gap: 5px;
}
.header_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
}
.input {
	background-color: #333333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 20px;
}
.item-list {
	color: #fff;
}
.item-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding: 5px 10px;
	background-color: #372d2d;
}
.box-list {
	width: 100%;
}
.box_list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 20px;
	gap: 20px;
}

.checked {
	background-color: red;
}
.filter-btn {
	background-color: #403131;
	padding: 3px 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	margin-left: 10px;
}
.input-box * {
	margin: 15px;
}
.inputname {
	border-radius: 7px;
	padding: 3px 6px;
	max-width: 60px;
}
.flex-element {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.flex-element div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.counterBtn {
	background-color: red;
	padding: 4px 10px;
	border-radius: 7px;
	color: #fff;
	margin: 5px 0;
}
.counter {
	color: #fff;
	margin-bottom: 10px;
}
.taskInputItem {
	display: none;
}
.convetrer-cart {
	background-color: #502705;
	border-radius: 30px;
	height: 300px;
	max-width: 600px;
	margin: 40px auto;
	padding: 40px;
}
.box-value-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.left-form {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #6f380b;
	border-radius: 10px;
	gap: 10px;
	height: 150px;
}
.right-form {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #6f380b;
	border-radius: 10px;
	gap: 10px;
	height: 150px;
}
.right-form p {
	border-radius: 10px;
	padding: 3px 10px;
	width: 80%;
	background-color: rgb(57, 137, 153);
	color: #fff;
	min-height: 22px;
}
.box-value-inner input,
.box-value-inner p {
	border-radius: 10px;
	padding: 3px 10px;
	width: 80%;
	background-color: rgb(57, 137, 153);
	color: #fff;
}
.box-value-inner input::placeholder {
	color: #b7b7b7;
}
.box-value-inner button {
	background-color: rgb(57, 137, 153);
	padding: 4px 10px;
	border-radius: 10px;
	color: #d0d0d0;
}
.name-value {
	display: flex;
	justify-content: space-between;
}
.name-value p {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
